<div class="content">
		<div class="wrap">
			<div class="contact-info">		
				  <div class="contact-grids">
					<div class="clear"></div>
				  </div>
						  
	  <p>Il gioco segue le linee standard della briscola in 5 nella sua variante siciliana  classica.
	  Ad ogni giocatore vengono date 8 carte e si procede con la fase Asta. Durante questa fase 
	  ogni giocatore fa una stima del punteggio che potrebbe raggiungere se fosse scelta una biscola a lui comoda 
	  con le eventuali carte di un altro giocatore. 
	  A turno i giocatori decidono se passare o aumentare il punteggio d'asta che parte da 70 punti e termina 
	  naturalmente con 120. Chiamando 120 punti l'asta termina automaticamente senza aspettare gli altri
	  giocatori. Finita l'asta il giocatore vincente chiama la carta di briscola pi&ugrave; alta a lui mancante.
	  Chi, tra gli altri 4 , ha questa carta &egrave; il compagno, che deve restare segreto.</p>
	  <p>A questo punto inizia la partita che segue le regole della classiche della briscola.</p>
	  <p>Sta a questo punto ai giocatori seguire una  strategia per vincere la partita
	  
	  <p>Al termine della partita si sommeranno i punti guadagnati dal chiamante e  dal compagno. 
	  Se la somma &egrave; uguale o superiore alla chiamata questi vinceranno il match.</p>
	  
			  </div>
				  </div>
			  </div>
	  
	  
	  