.board {
	width: 1024px;
	border: 1px solid black;
	background-color: black;
	color: white;
	float: left;
}

.start-match {
	float: right;
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0 !important;
}

li {
	list-style-type: none;
	padding: 0;
}

.logo {
	width: 150px;
	background-color: white;
	border-radius: 5px;
	margin-left: 2px;
}

.extra-me-data-container {
	float: right;
}

.extra-me-data {
	float: left;
	margin: 0 5px;
}

.card {
	width: 100px;
	float: left;
}

.card.card-mini {
	width: 100%;
	width: 65px;
	float: right;
	clear: both;
	border: 0;
	margin-top: 10px;
}

.vincitore {
	background-color: black;
	text-align: center;
}

.me {
	display: block;
	clear: both;
}

.common {
	height: 145px;
	display: block;
	clear: both;
	margin: 15px 0 !important;
}

.common .card {
	width: 200px;
	margin-right: 2px;
}

.players li {
	color: white;
	background-color: #333;
	border-radius: 2px;
	width: 200px;
	height: 155px;
	margin-right: 2px;
	box-sizing: border-box;
	float:left;
}

.hidden {
	visibility: hidden;
}	

button {
	color: black;
}

.inTurn {
	background-color: green;
	width: 100%;
	height:10px;
}

.inAuction {
	background-color: white;
	width: 100%;
	height:10px;
}

.winnerTurn {
	background-color: red;
	width: 100%;
	height:10px;
}